body{
  display: flex;
  margin: 0;
  flex-direction: column;
  min-height: 10vh;
}

header{
  display: flex;
  border: 5px solid black;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}


main{
  display: flex;
  border: 5px solid black;
  flex-direction: row;
  height: 800px;
}


main nav{
  order: -1;
  border: 3px solid black;
  flex-basis: 200px;
  flex-grow: 1;
}

main article{
  flex-basis: 500px;
  border: 3px solid black;
  flex-grow: 1;
}

aside{
  flex-basis: 200px;
  border: 3px solid black;
  flex-grow: 1;
}

footer{
  flex-grow: 1;
  border: 3px solid black;
}


@media screen and (max-width: 640px){
  main{
    flex-direction: column;
    flex-grow: 1;
  }

  main article{
    order: -1;
  }
}
