.box{
  width: 100px;

  color: white;
  background-color: blue;
  text-align: center;
  font-size: 70px;

}

.box-1{
  font-size: 150px;
}

.box-5{
  font-size: 50px;
}


.container{
  display: flex;
  border: 10px solid black;
  /*flex-direction: row-reverse;*/
  flex-direction: column;
  /*flex-wrap: wrap-reverse;*/
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  height: 500px;
  align-items: center;

}
